- publicish_project_count = ProjectsFinder.new.execute(current_user).count
.blank-state.blank-state
  %h1.blank-state-title
    %strong
      Welcome to RedGealc Public Software Portal
  %p.blank-state-text
    Code, test, and deploy together
  = link_to catalog_root_path, class: "btn btn-new" do
    Explore catalog
.blank-state
  .blank-state-icon
    = custom_icon("project", size: 50)
  %h3.blank-state-title
    You don't have access to any projects right now
  %p.blank-state-text
    - if current_user.can_create_project?
      You can create up to
      %strong= number_with_delimiter(current_user.projects_limit)
      = succeed "." do
        = "project".pluralize(current_user.projects_limit)
    - else
      If you are added to a project, it will be displayed here.
  - if current_user.can_create_project?
    = link_to new_project_path, class: "btn btn-new" do
      New project

- if current_user.can_create_group?
  .blank-state
    .blank-state-icon
      = custom_icon("group", size: 50)
    %h3.blank-state-title
      You can create a group for several dependent projects.
    %p.blank-state-text
      Groups are the best way to manage projects and members.
    = link_to new_group_path, class: "btn btn-new" do
      New group

-if publicish_project_count > 0
  .blank-state
    .blank-state-icon
      = icon("globe")
    %h3.blank-state-title
      There are
      = number_with_delimiter(publicish_project_count)
      public projects on this server.
    %p.blank-state-text
      Public projects are an easy way to allow everyone to have read-only access.
    = link_to explore_projects_path, class: "btn btn-new" do
      Browse projects
