// Place all the styles related to the catalog/projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-catalog-icon {
	position: absolute;
	margin-top: 9px;
  margin-left: -29px;
  color: #e7e9ed;
  transition: color 0.15s;
}

.search-catalog-icon.focus {
 	color: #5c5c5c;
}

.list-btn {
	margin-left: 10px;	
}

.list-inline .label-primary {
	margin-left: 5px;	
}

.list-inline .close {
	margin-left: 5px;
	margin-top: -5px;
	font-size: 20px;
}

.hide-calendar .ui-datepicker-calendar {
  display: none;
}

.hide-calendar .ui-datepicker-current {
  display: none;
}
