<%= form_for(@catalog_project, html: { class: 'form-horizontal project-form' }) do |f| %>
  <% if @catalog_project.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.messages.contains_errors') %></h2>      
      <ul>
      <% @catalog_project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label Catalog::Project.human_attribute_name('name'), class: 'control-label label-light' %>
    <div class='col-sm-10'>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label Catalog::Project.human_attribute_name('description'), class: 'control-label label-light' %>
    <div class='col-sm-10'>
      <%= f.text_area :description, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label Catalog::Project.human_attribute_name('slug'), class: 'control-label label-light' %>
    <div class='col-sm-10'>
      <%= f.text_field :slug, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label Catalog::Project.human_attribute_name('url'), class: 'control-label label-light' %>
    <div class='col-sm-10'>
      <%= f.text_field :url, class: 'form-control', placeholder: 'https://www.example.com' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label Catalog::Project.human_attribute_name('visibility'), class: 'control-label label-light' %>
    <div class='col-sm-10'>
      <%= f.collection_select :visibility, Catalog::Project.visibilities, :first, :last, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label Catalog::Project.human_attribute_name('has_country_property'), class: 'control-label label-light' %>
    <div class='col-sm-10'>
      <%= f.select :has_country_property, [[t('views.yes'), true], [t('views.no'), false]],include_blank: '-',class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label Catalog::Project.human_attribute_name('plataform'), class: 'control-label label-light' %>
    <div class='col-sm-10'>
      <%= f.collection_select :plataform, Catalog::Project.plataforms, :first, :last, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label Catalog::Project.human_attribute_name('operational_systems'), class: 'control-label label-light' %>
    <div class='col-sm-10'>
      <%= f.text_area :operational_systems, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group programming-languages" data-nested='false' data-name='catalog_project[programming_language_ids][]' data-url='<%=catalog_projects_programming_languages_path %>'>

    <%= label_tag :programming_languages, Catalog::Project.human_attribute_name('programming_languages'), class: 'control-label label-light' %>

    <div class='col-sm-10'>
      
      <div class="input-group">        
        <%= text_field_tag :programming_languages_field, '', class: 'form-control field' %>
        <span class="input-group-btn">
          <button class='btn btn-primary' type='button' disabled='disabled' ><%= t('buttons.add') %></button>
        </span>
      </div>  
      
      <div class="results"></div>
      
      <input id='selected_id' type='hidden'></input>
      <input name='catalog_project[programming_language_ids][]' value=''type='hidden'></input>
      
      <h5>
        <ul class='list-inline'>
          
          <% @catalog_project.programming_languages.each_with_index do |programming_language, index| %>
            
            <li class='label label-primary'> 
              <span class='pull-left'><%= programming_language.name %></span>
              <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              
              <input id='programming_language_<%= index %>' name='catalog_project[programming_language_ids][]' value='<%= programming_language.id %>' type='hidden'></input>
            </li>
          <% end %>
        
        </ul>
      </h5>      
    </div>
  </div>

  <div class="form-group">
    <%= f.label Catalog::Project.human_attribute_name('frameworks'), class: 'control-label label-light' %>
    <div class='col-sm-10'>
      <%= f.text_area :frameworks, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label Catalog::Project.human_attribute_name('dependencies'), class: 'control-label label-light' %>
    <div class='col-sm-10'>
      <%= f.text_area :dependencies, class: 'form-control' %>
    </div>
  </div>


  <div class="form-group licenses" data-nested='false' data-name='catalog_project[license_ids][]' data-url='<%=catalog_projects_licenses_path %>'>

    <%= label_tag :licenses, Catalog::Project.human_attribute_name('licenses'), class: 'control-label label-light' %>

    <div class='col-sm-10'>
      
      <div class="input-group">        
        <%= text_field_tag :licenses_field, '', class: 'form-control field' %>
        <span class="input-group-btn">
          <button class='btn btn-primary' type='button' disabled='disabled' ><%= t('buttons.add') %></button>
        </span>
      </div>  
      
      <div class="results"></div>
      
      <input id='selected_id' type='hidden'></input>
      <input name='catalog_project[license_ids][]' value=''type='hidden'></input>
      
      <h5>
        <ul class='list-inline'>
          
          <% @catalog_project.licenses.each_with_index do |license, index| %>
            
            <li class='label label-primary'> 
              <span class='pull-left'><%= license.name %></span>
              <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              
              <input id='license_<%= index %>' name='catalog_project[license_ids][]' value='<%= license.id %>' type='hidden'></input>
            </li>
          <% end %>
        
        </ul>
      </h5>      
    </div>
  </div>

  <div class="form-group categories" data-nested='true' data-nested-name='catalog_project[categories_attributes][INDEX][name]' data-name='catalog_project[category_ids][]' data-url='<%=catalog_projects_categories_path %>'>

    <%= label_tag :categories, Catalog::Project.human_attribute_name('categories'), class: 'control-label label-light' %>

    <div class='col-sm-10'>
      
      <div class="input-group">        
        <%= text_field_tag :categories_field, '', class: 'form-control field' %>
        <span class="input-group-btn">
          <button class='btn btn-primary' type='button' disabled='disabled' ><%= t('buttons.add') %></button>
        </span>
      </div>  
      
      <div class="results"></div>
      
      <input id='selected_id' type='hidden'></input>
      <input name='catalog_project[category_ids][]' value=''type='hidden'></input>
      
      <h5>
        <ul class='list-inline'>
          
          <% @catalog_project.categories.each_with_index do |category, index| %>
            
            <li class='label label-primary'> 
              <span class='pull-left'><%= category.name %></span>
              <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              
              <input id='category_<%= index %>' name='catalog_project[category_ids][]' value='<%= category.id %>' type='hidden'></input>
            </li>
          <% end %>
        
        </ul>
      </h5>      
    </div>
  </div>

  <div class="form-group">
    <%= f.label Catalog::Project.human_attribute_name('using_since'), class: 'control-label label-light' %>
    <div class='col-sm-10'>
      <%= f.text_field :using_since, class: 'form-control catalog-datepicker' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label Catalog::Project.human_attribute_name('documentation_status'), class: 'control-label label-light' %>
    <div class='col-sm-10'>
      <%= f.collection_select :documentation_status, Catalog::Project.documentation_statuses, :first, :last, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label Catalog::Project.human_attribute_name('documentation_link'), class: 'control-label label-light' %>
    <div class='col-sm-10'>
      <%= f.text_field :documentation_link, class: 'form-control', placeholder: 'https://www.example.com' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label Catalog::Project.human_attribute_name('is_used_by_companies'), class: 'control-label label-light' %>
    <div class='col-sm-10'>
      <%= f.select :is_used_by_companies, [[t('views.yes'), true], [t('views.no'), false]], include_blank: '-', class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label Catalog::Project.human_attribute_name('has_services_by_companies'), class: 'control-label label-light' %>
    <div class='col-sm-10'>
      <%= f.select :has_services_by_companies, [[t('views.yes'), true], [t('views.no'), false]], include_blank: '-',class: 'form-control' %>
    </div>
  </div>
  
  <div class="form-group developing-countries" data-nested='false' data-name='catalog_project[developing_country_ids][]' data-url='<%=catalog_projects_countries_path %>'>

    <%= label_tag :developing_countries, Catalog::Project.human_attribute_name('developing_countries'), class: 'control-label label-light' %>

    <div class='col-sm-10'>
      
      <div class="input-group">        
        <%= text_field_tag :developing_countries_field, '', class: 'form-control field' %>
        <span class="input-group-btn">
          <button class='btn btn-primary' type='button' disabled='disabled' ><%= t('buttons.add') %></button>
        </span>
      </div>  
      
      <div class="results"></div>
      
      <input id='selected_id' type='hidden'></input>
      <input name='catalog_project[developing_country_ids][]' value=''type='hidden'></input>
      
      <h5>
        <ul class='list-inline'>
          
          <% @catalog_project.developing_countries.each_with_index do |developing_country, index| %>
            
            <li class='label label-primary'> 
              <span class='pull-left'><%= developing_country.name %></span>
              <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              
              <input id='developing_country_<%= index %>' name='catalog_project[developing_country_ids][]' value='<%= developing_country.id %>' type='hidden'></input>
            </li>
          <% end %>
        
        </ul>
      </h5>      
    </div>
  </div>
  
  <div class="form-group using-countries" data-nested='false' data-name='catalog_project[using_country_ids][]' data-url='<%=catalog_projects_countries_path %>'>

    <%= label_tag :using_countries, Catalog::Project.human_attribute_name('using_countries'), class: 'control-label label-light' %>

    <div class='col-sm-10'>
      
      <div class="input-group">        
        <%= text_field_tag :using_countries_field, '', class: 'form-control field' %>
        <span class="input-group-btn">
          <button class='btn btn-primary' type='button' disabled='disabled' ><%= t('buttons.add') %></button>
        </span>
      </div>  
      
      <div class="results"></div>
      
      <input id='selected_id' type='hidden'></input>
      <input name='catalog_project[using_country_ids][]' value=''type='hidden'></input>
      
      <h5>
        <ul class='list-inline'>
          
          <% @catalog_project.using_countries.each_with_index do |using_country, index| %>
            
            <li class='label label-primary'> 
              <span class='pull-left'><%= using_country.name %></span>
              <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              
              <input id='using_country_<%= index %>' name='catalog_project[using_country_ids][]' value='<%= using_country.id %>' type='hidden'></input>
            </li>
          <% end %>
        
        </ul>
      </h5>      
    </div>
  </div>

  <div class="form-group interested-countries" data-nested='false' data-name='catalog_project[interested_country_ids][]' data-url='<%=catalog_projects_countries_path %>'>

    <%= label_tag :interested_countries, Catalog::Project.human_attribute_name('interested_countries'), class: 'control-label label-light' %>

    <div class='col-sm-10'>
      
      <div class="input-group">        
        <%= text_field_tag :interested_countries_field, '', class: 'form-control field' %>
        <span class="input-group-btn">
          <button class='btn btn-primary' type='button' disabled='disabled' ><%= t('buttons.add') %></button>
        </span>
      </div>  
      
      <div class="results"></div>
      
      <input id='selected_id' type='hidden'></input>
      <input name='catalog_project[interested_country_ids][]' value=''type='hidden'></input>
      
      <h5>
        <ul class='list-inline'>
          
          <% @catalog_project.interested_countries.each_with_index do |interested_country, index| %>
            
            <li class='label label-primary'> 
              <span class='pull-left'><%= interested_country.name %></span>
              <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              
              <input id='interested_country_<%= index %>' name='catalog_project[interested_country_ids][]' value='<%= interested_country.id %>' type='hidden'></input>
            </li>
          <% end %>
        
        </ul>
      </h5>      
    </div>
  </div>

  <div class="prepend-top-default">
    <%= f.submit t('buttons.save'), class: 'btn btn-create' %>
  </div>
<% end %>

<script>
  $(function() {
    new catalog.Project('.programming-languages');
    new catalog.Project('.licenses');
    new catalog.Project('.categories');
    new catalog.Project('.developing-countries');
    new catalog.Project('.using-countries');
    new catalog.Project('.interested-countries');
  }) 
</script>
