<table class="catalog">
  <thead>
    <tr>
      <th colspan='2'><%= t('.name') %></th>
      <th><%= t('.source') %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% catalog_projects.each do |catalog_project| %>
      <tr>
        <td>
          <% catalog_project.developing_countries.each do |country| %>
            <%= link_to catalog_country_path(country) do %>
              <%= image_tag('countries/' + country.flag + '.png', alt: country.name, class: "catalog-img") %>
            <% end %>
          <% end %>
        </td>

        <td><%= link_to catalog_project.name, catalog_project %></td>
        <td>
          <%= link_to catalog_project.url, catalog_project.url, target: "_blank" %></td>
        <td>
          <%= link_to edit_catalog_project_path(catalog_project), class: "btn btn-gray" do %>
            <i class="fa fa-pencil"></i>
          <% end if can?(current_user, :manage_projects, catalog_project) %>

          <%= link_to catalog_project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-gray" do %>
            <i class="fa fa-trash-o"></i>
          <% end if can?(current_user, :manage_projects, catalog_project) %>
      </tr>
    <% end %>
  </tbody>
</table>