<h2><%= t '.title' %></h2>

<div class="pull-left">
<%= form_tag catalog_projects_search_path, method: :get, class: 'form-inline' do %>
	<div class='form-group'>
  	<%= search_field_tag "query", @query, class: 'form-control', placeholder: t('catalog.search') %>
	
		<i class='fa fa-search search-catalog-icon'></i>
	</div>
<% end %>
</div>

<%= link_to t('catalog.list_countries'), catalog_countries_path, class: "btn btn-create pull-right list-btn"%>
<%= link_to t('catalog.list_categories'), catalog_categories_path, class: "btn btn-create pull-right list-btn"%>

<div class='clearfix'></div>

<h3><%= @catalog_category.name unless @catalog_category.blank? %></h3>

<%= render partial: 'catalog/projects/list', locals: {catalog_projects: @catalog_projects} %>

<br>

<%= link_to t('.new'), new_catalog_project_path, class: "btn btn-create pull-right" if can?(current_user, :create_projects, Catalog::Project.new) %>
