<% page_title @catalog_project.name %>
<% page_description @catalog_project.description %>

<div class="user-profile catalog-header">
  <div class="cover-block catalog-project">
    <div class="cover-controls">
      <%= link_to edit_catalog_project_path(@catalog_project), class: "btn btn-gray" do %>
        <i class="fa fa-pencil"></i>
      <% end if can?(current_user, :manage_projects, @catalog_project) %>
    </div>
    
    <div class="cover-title">
      <%= image_tag('countries/' + @catalog_project.developing_countries.first.flag + '.png', alt: @catalog_project.developing_countries.first.name, class: "catalog-img") %>
      <br>         
      <%= @catalog_project.name %>
    </div>

    <p class="cover-description">
      <%= @catalog_project.description %>
    </p>

    <p class="cover-link">
      <i class="fa fa-link"></i> <%= link_to @catalog_project.url, @catalog_project.url, target: "_blank" %>
    </p>
  </div>

  <div class="centered catalog-new-button">
    <% if can?(current_user, :show_interest_in_project, @catalog_project) %>
      <%= link_to t('.notify') , catalog_notify_interest_path(@catalog_project), class: "btn btn-create" %>
    <% elsif can?(current_user, :withdraw_from_project, @catalog_project) %>
      <%= link_to t('.withdraw') , catalog_withdraw_from_project_path(@catalog_project), class: "btn btn-danger" %>
    <% end %>
  </div>

  <br><br><br>
  <div class="col-lg-4">
    <strong><%= Catalog::Project.human_attribute_name('visibility') %>: </strong>
    <%= @catalog_project.visibility.present?? Catalog::Project::VISIBILITIES[@catalog_project.visibility] : '-' %>
  </div>
  <div class="col-lg-4">
    <strong><%= Catalog::Project.human_attribute_name('has_country_property') %>: </strong>
    <%= !@catalog_project.has_country_property.nil?? (@catalog_project.has_country_property?? t('yes') : t('no')) : '-' %>
  </div>
  <div class="col-lg-4">
    <strong><%= Catalog::Project.human_attribute_name('plataform') %>: </strong>
    <%= @catalog_project.plataform.present?? Catalog::Project::PLATAFORMS[@catalog_project.plataform] : '-' %>
  </div>
  <div class="col-lg-4">
    <strong><%= Catalog::Project.human_attribute_name('operational_systems') %>: </strong>
    <%= @catalog_project.operational_systems.present?? @catalog_project.operational_systems : '-' %>
  </div>
  <div class="col-lg-4">
    <strong><%= Catalog::Project.human_attribute_name('frameworks') %>: </strong>
    <%= @catalog_project.frameworks.present?? @catalog_project.frameworks : '-' %>
  </div>
  <div class="col-lg-4">
    <strong><%= Catalog::Project.human_attribute_name('dependencies') %>: </strong>
    <%= @catalog_project.dependencies.present?? @catalog_project.dependencies : '-' %>
  </div>
  <div class="col-lg-4">
    <strong><%= Catalog::Project.human_attribute_name('using_since') %>: </strong>
    <%= @catalog_project.using_since.present?? @catalog_project.using_since : '-' %>
  </div>
  <div class="col-lg-4">
    <strong><%= Catalog::Project.human_attribute_name('documentation_status') %>: </strong>
    <%= @catalog_project.documentation_status.present?? Catalog::Project::DOCUMENTATION_STATUSES[@catalog_project.documentation_status] : '-' %>
  </div>
  <div class="col-lg-4">
    <strong><%= Catalog::Project.human_attribute_name('documentation_link') %>: </strong>
    <%= @catalog_project.documentation_link.present?? (link_to @catalog_project.documentation_link, @catalog_project.documentation_link, target: "_blank") : '-' %>
  </div>
  <div class="col-lg-4">
    <strong><%= Catalog::Project.human_attribute_name('is_used_by_companies') %>: </strong>
    <%= !@catalog_project.is_used_by_companies.nil?? (@catalog_project.is_used_by_companies?? t('yes') : t('no'))  : '-' %>
  </div>
  <div class="col-lg-4">
    <strong><%= Catalog::Project.human_attribute_name('has_services_by_companies') %>: </strong>
    <%= !@catalog_project.has_services_by_companies.nil?? (@catalog_project.has_services_by_companies?? t('yes') : t('no'))  : '-' %>
  </div>
  
  <div class="col-lg-4">
    <strong><%= Catalog::Project.human_attribute_name('programming_languages') %>:</strong>
      <ul>
        <% @catalog_project.programming_languages.each do |programming_language| %>
          <li><%= link_to programming_language.name, programming_language.url, target: "_blank" %> </li>
        <% end %>
      </ul>
  </div>

  <div class="col-lg-4">
    <strong><%= Catalog::Project.human_attribute_name('licenses') %>:</strong>
      <ul>
        <% @catalog_project.licenses.each do |license| %>
          <li><%= link_to license.name, license.url, target: "_blank" %> </li>
        <% end %>
      </ul>
  </div>

  <div class="col-lg-4">
    <strong><%= Catalog::Project.human_attribute_name('categories') %>:</strong>
    <ul>
      <% @catalog_project.categories.each do |category| %>
        <li><%= link_to category.name, catalog_category_path(category) %></li>
      <% end %>
    </ul>
  </div>

  <br>

  <div class="col-lg-4">
    <p><strong><%= Catalog::Project.human_attribute_name('developing_countries') %>:</strong></p>
    <ul class='list-unstyled'>
      <% @catalog_project.developing_countries.each do |developing_country| %>
        <li>
          <%= image_tag('countries/' + developing_country.flag + '.png', alt: developing_country.name, class: "catalog-img") %>
          <%= link_to developing_country.name, catalog_country_path(developing_country) %>
        </li><br>
      <% end %>
    </ul>
  </div>

  <div class="col-lg-4">
    <p><strong><%= Catalog::Project.human_attribute_name('using_countries') %>:</strong></p>
    <ul class='list-unstyled'>
       <%= '-' if @catalog_project.using_countries.first.blank? %>
      <% @catalog_project.using_countries.each do |using_country| %>
        <li>
          <%= image_tag('countries/' + using_country.flag + '.png', alt: using_country.name, class: "catalog-img") %>
          <%= link_to using_country.name, catalog_country_path(using_country) %>
        </li><br>
      <% end %>
    </ul>
  </div>

  <div class="col-lg-4">
    <p><strong><%= Catalog::Project.human_attribute_name('interested_countries') %>:</strong></p>
    <ul class='list-unstyled'>
      <%= '-' if @catalog_project.interested_countries.first.blank? %>
      <% @catalog_project.interested_countries.each do |interested_country| %>
        <li>
          <%= image_tag('countries/' + interested_country.flag + '.png', alt: interested_country.name, class: "catalog-img") %>
          <%= link_to interested_country.name, catalog_country_path(interested_country) %>
        </li><br>
      <% end %>
    </ul>
  </div>

  <div class="col-lg-4">
    <strong><%= t('.share') %>:</strong>
    <%= social_share_button_tag(@catalog_project.name) %>
  </div>

</div>