.section-button {
  margin: 1.5em 35%;
  width: 30%;
  padding: 14px 1em;
  cursor: pointer;
  background: linear-gradient(#FFBA53, #FF9900);
  border: 1px solid #FFBA53;
  border-radius: 4px;
  font-size: 1em;
  color: white;
  text-shadow: 0 0 2px #9B5D00; }
  .section-button:hover {
    background: #FF9900; }

.section-title {
  text-align: center;
  margin: 1.5em 0;
  font-weight: 300;
  font-size: 2em; }

.section-background {
  background: #F5F5F5; }

.main-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background: #fafafa;
  display: none;
  height: 50px;
  border-bottom: 1px solid #e5e5e5;
  z-index: 1000; }

.main-nav-fixed {
  position: static;
  display: block; }

.main-nav--menu {
  display: inline-block;
  height: 44px;
  margin: 3px 0;
  vertical-align: top; }

.main-nav--title {
  margin: 0;
  font-size: 1.1em;
  line-height: 50px;
  color: black;
  display: inline-block; }

.main-nav--title-link {
  color: black;
  text-decoration: none; }

.main-nav--list {
  margin-left: 35%;
  font-size: 18px; }

.main-nav--item {
  display: inline-block;
  margin: 0 0 0 1em;
  line-height: 50px; }

.main-nav--link {
  color: black;
  text-decoration: none;
  font-size: 1.1em;
  line-height: 1.2; }

.main-nav--login {
  float: right;
  background-color: #38ae67;
  color: #fff;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 500;
  padding: 8px 12px;
  border: 1px solid #2faa60;
  margin: 6px 12px;
  cursor: pointer; }

.main-header {
  text-align: center;
  padding: 6em 0;
  background: linear-gradient(135deg, #43cea2, #185a9d); }

.main-header--title {
  color: white;
  text-shadow: 1px 1px 2px black;
  margin: 0 5%; }
  .main-header--title strong {
    display: block; }

.main-header--text {
  max-width: 70%;
  margin: 3em auto 2em; }

.main-header--image {
  width: 200px;
  box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.5); }

.main-header--button {
  margin: 1.5em auto;
  min-width: 20%;
  padding: 14px 1em;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 4px;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.9);
  transition: 300ms; }
  @media screen and (max-width: 720px) {
    .main-header--button {
      width: 70%; } }
  .main-header--button:hover {
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.9);
    color: white; }

.countries {
  border-top: 1px solid black;
  padding: 2em 1em; }

.countries-list {
  padding: 0; }

.countries-item {
  list-style: none;
  display: inline-block;
  margin: 0 -4px 0 0;
  width: 11.1%;
  text-align: center;
  padding: 1em 0.5em;
  vertical-align: middle; }
  @media screen and (max-width: 720px) {
    .countries-item {
      width: 25%; } }

.countries-list--link {
  color: #787878;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.7em; }

.countries-list--image {
  width: 100%; }

.countries-list--title {
  margin: 0.3em 0 0; }

.howto {
  border-top: 1px solid black;
  padding: 2em 0; }

.howto-list {
  padding: 0; }

.howto-item {
  list-style: none;
  display: inline-block;
  margin: 0 -4px 0 0;
  width: 33.3%;
  position: relative;
  vertical-align: top;
  padding: 0 5%; }
  @media screen and (max-width: 720px) {
    .howto-item {
      margin: 0px -4px 30px 0;
      width: 100%; } }

.howto-number {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  top: 0;
  left: 30px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  text-align: center;
  border: 1px solid #E5E5E5;
  font-size: 2em;
  font-weight: 700;
  background: white; }

.howto-text {
  color: #787878;
  display: inline-block;
  width: 100%;
  padding: 0 0 0 30%;
  margin: 0; }

.data {
  border-top: 1px solid black;
  padding: 2em 0; }

.data-graphs {
  width: 49%;
  text-align: center;
  display: inline-block;
  padding: 0 5%;
  margin: 0 -4px 0 0; }

.main-footer {
  border-top: 1px solid black;
  text-align: center;
  padding: 0em 0 5em;
  position: relative; }

.main-footer--text {
  width: 70%;
  margin: 1em 15% 0; }

.main-footer--copyright {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
  font-size: 0.8em; }

.projects {
  padding: 0 5%; }
  @media screen and (max-width: 720px) {
    .projects {
      padding: 0 2%; } }

.projects-nav {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  border: 1px solid #E5E5E5;
  padding: 0 0 30px; }

.projects-nav--form {
  padding: 1em; }

.projects-nav--search {
  border-radius: 4px;
  height: 40px;
  vertical-align: middle;
  width: 83%;
  border: 1px solid #E5E5E5;
  box-shadow: 1px 1px 0 #E5E5E5; }

.projects-nav--image {
  width: 15%;
  margin: 0 -4px 0 2%;
  vertical-align: middle; }

.projects-category--title {
  padding: 0 1em;
  color: #787878; }

.projects-category {
  color: #787878; }

.projects-category--link {
  color: #787878;
  text-decoration: none; }

.projects-list {
  display: inline-block;
  width: 80%;
  vertical-align: top;
  padding: 0;
  margin: 2% 10% 5%; }
  @media screen and (max-width: 720px) {
    .projects-list {
      width: 100%;
      margin: 0 0 5%; } }

.projects-list--item {
  list-style: none;
  border-bottom: 1px solid #E5E5E5; }

.projects-list--link {
  text-decoration: none;
  color: #787878; }

.projects-list--image {
  vertical-align: middle;
  padding: 0.5em;
  display: inline-block;
  width: 10%;
  margin: 0 -4px 0 0;
  text-align: center; }
  @media screen and (max-width: 720px) {
    .projects-list--image {
      width: 18%; } }

.projects-list--title {
  vertical-align: middle;
  display: inline-block;
  width: 75%;
  margin: 0 -4px 0 0; }
  @media screen and (max-width: 720px) {
    .projects-list--title {
      width: 65%; } }

.projects-list--stars {
  vertical-align: middle;
  display: inline-block;
  width: 12%;
  margin: 0 -4px 0 0;
  text-align: right; }
  .projects-list--stars span {
    font-size: 28px; }

.projects-list--description {
  font-weight: 400;
  font-size: 0.8em;
  display: block; }

.popin {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: none; }

.popin-content {
  width: 70%;
  height: 60%;
  background: white;
  padding: 2em 2em;
  position: absolute;
  top: 20%;
  left: 15%;
  overflow: scroll; }

.popin-button {
  position: absolute;
  top: 18%;
  right: 14%;
  background: white;
  border: none;
  padding: 0;
  display: inline-block;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  cursor: pointer; }

.popin-button--image {
  width: 50px;
  margin: -4px 0 0 -3px; }


.project-home-panel {
    padding-top: 76px;
    background: linear-gradient(135deg, #43cea2, #185a9d);
}

.content-wrapper .container-fluid {
    background: none;
    padding: 10px 16px 30px;
}

.project-home-panel .project-home-desc {
    color: black;
}


.user-profile .cover-block {
    background: linear-gradient(135deg, #43cea2, #185a9d);
}

.user-profile .catalog-project {
    margin: 0 -1em;
    padding: 4em 0 3em;
}

.cover-block .cover-desc, .cover-block .cover-title {
    color: black
}

.cover-description {
  width: 70%;
  color: black;
  margin: 2em auto;
}

.cover-link {
  background: #eee;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #999;
  margin: 0 0 2em;
}

.cover-block .avatar {
    border-radius: 0;
}

.center-logo {
  text-align: center
}

header .header-content .header-logo {
    width: 162px;
    height: 41px;
    display: inline-block;
    margin-left: -81px;
}

.catalog {
  width: 100%
}

.catalog td, .catalog th {
  padding: 5px 10px;
}

.catalog-img {
  width: 50px;
}

.catalog-new-button {
  margin: 1em 0;
}

.catalog-header {
  margin-top: 0px;
}

.centered {
  text-align: center
}

.no-ssh-key-message, .project-limit-message {
  margin-top: 30px;
}
