%ul.nav.nav-sidebar
  = nav_link(path: ['root#index', 'projects#trending', 'projects#starred', 'dashboard/projects#index'], html_options: {class: "#{project_tab_class} home"}) do
    = link_to dashboard_projects_path, title: 'Communities', class: 'dashboard-shortcuts-projects' do
      %span
        Communities
  = nav_link(html_options: {class: profile_tab_class}) do
    = link_to '/catalog', title: 'Catalog' do
      %span
        Catalog
  = nav_link(controller: :todos) do
    = link_to dashboard_todos_path, title: 'Todos' do
      %span
        Todos
        %span.count= number_with_delimiter(todos_pending_count)
  = nav_link(path: 'dashboard#activity') do
    = link_to activity_dashboard_path, class: 'dashboard-shortcuts-activity', title: 'Activity' do
      %span
        Activity
  = nav_link(controller: [:groups, 'groups/milestones', 'groups/group_members']) do
    = link_to dashboard_groups_path, title: 'Groups' do
      %span
        Groups
  = nav_link(controller: 'dashboard/milestones') do
    = link_to dashboard_milestones_path, title: 'Milestones' do
      %span
        Milestones
  = nav_link(path: 'dashboard#issues') do
    = link_to assigned_issues_dashboard_path, title: 'Issues', class: 'dashboard-shortcuts-issues' do
      %span
        Issues
        %span.count= number_with_delimiter(current_user.assigned_issues.opened.count)
  = nav_link(path: 'dashboard#merge_requests') do
    = link_to assigned_mrs_dashboard_path, title: 'Merge Requests', class: 'dashboard-shortcuts-merge_requests' do
      %span
        Merge Requests
        %span.count= number_with_delimiter(current_user.assigned_merge_requests.opened.count)
  = nav_link(controller: 'dashboard/snippets') do
    = link_to dashboard_snippets_path, title: 'Snippets' do
      %span
        Snippets
  = nav_link(controller: :help) do
    = link_to help_path, title: 'Help' do
      %span
        Help
  = nav_link(html_options: {class: profile_tab_class}) do
    = link_to profile_path, title: 'Profile Settings', data: {placement: 'bottom'} do
      %span
        Profile Settings
