%ul.nav.nav-sidebar
  = nav_link(path: ['dashboard#show', 'root#show', 'projects#trending', 'projects#starred', 'projects#index'], html_options: {class: 'home'}) do
    = link_to explore_root_path, title: 'Projects' do
      %span
        Projects
  = nav_link(html_options: {class: profile_tab_class}) do
    = link_to '/catalog', title: 'Catalog' do
      %span
        Catalog
  = nav_link(controller: [:groups, 'groups/milestones', 'groups/group_members']) do
    = link_to explore_groups_path, title: 'Groups' do
      %span
        Groups
  = nav_link(controller: :snippets) do
    = link_to explore_snippets_path, title: 'Snippets' do
      %span
        Snippets
  = nav_link(controller: :help) do
    = link_to help_path, title: 'Help' do
      %span
        Help
