<h1><%= t '.title' %></h1>

<table>
  <thead>
    <tr>
      <th><%= Catalog::License.human_attribute_name('name') %></th>
      <th><%= Catalog::License.human_attribute_name('short_name') %></th>
      <th><%= Catalog::License.human_attribute_name('url') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @catalog_licenses.each do |catalog_license| %>
      <tr>
        <td><%= catalog_license.name %></td>
        <td><%= catalog_license.short_name %></td>
        <td><%= link_to catalog_license.url, catalog_license.url, target: "_blank" %></td>
        <td><%= link_to t('views.show'), catalog_license %></td>
        <td><%= link_to t('views.edit'), edit_catalog_license_path(catalog_license) %></td>
        <td><%= link_to t('views.destroy'), catalog_license, method: :delete, data: { confirm: t('views.confirmation') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new'), new_catalog_license_path %>
