<div class="user-profile">
	<div class="cover-block">
		<div class="cover-controls">
			<%= link_to edit_catalog_license_path(@catalog_license), class: "btn btn-gray" do %>
				<i class="fa fa-pencil"></i>
			<% end %>
		</div>
		
		<div class="cover-title">
			<%= @catalog_license.name %>
		</div>

		<p>
			<strong><%= Catalog::License.human_attribute_name('short_name') %>:</strong>
			<%= @catalog_license.short_name %>
		</p>

		<p>
			<strong><%= Catalog::License.human_attribute_name('url') %>:</strong>
			<%= link_to @catalog_license.url, @catalog_license.url, target: "_blank" %>
		</p>

		<%= link_to t('views.edit'), edit_catalog_license_path(@catalog_license) %> |
		<%= link_to t('views.back'), catalog_licenses_path %>
	</div>
</div>