<ul class="main-nav--list">	
	<li class="main-nav--item">
		<a href="#countries" class="main-nav--link"><%= t '.countries' %></a>
	</li>
	<li class="main-nav--item">
		<a href="#howto" class="main-nav--link"><%= t '.collaborate' %></a>
	</li>
	<li class="main-nav--item">
		<a href="#data" class="main-nav--link"><%= t '.statistics' %></a>
	</li>
	<li class="main-nav--item">
      <a href="#partners" class="main-nav--link"><%= t '.partners' %></a>
  </li>
</ul>
