<%= render "sections" %>
<header class="main-header" id="main">
	<h1 class="main-header--title">
		<%= t '.title' %>
	</h1>
	<p class="main-header--text"><%= t '.main_text' %></p>
	<button class="main-header--button"><%= t '.info.button' %></button>
</header>

<section class="countries section-background" id="countries">
	<h2 class="section-title"><%= t '.countries' %></h2>

	<ul class="countries-list">
		<li class="countries-item">
			<%= link_to show_member_path(User.find_by_username('argentina')) do %>
				<%= image_tag "countries/argentina.png", class: "countries-list--image" %>
				<h3 class="countries-list--title"><%= t('catalog_countries.argentina') %></h3>
			<% end%>
		</li>
		<li class="countries-item">
 			<%= link_to show_member_path(User.find_by_username('bolivia')) do %>
				<%= image_tag "countries/bolivia.png", class: "countries-list--image" %>
				<h3 class="countries-list--title"><%= t('catalog_countries.bolivia') %></h3>
			<% end%>
		</li>
		<li class="countries-item">
 			<%= link_to show_member_path(User.find_by_username('brasil')) do %>
				<%= image_tag "countries/brasil.png", class: "countries-list--image" %>
				<h3 class="countries-list--title"><%= t('catalog_countries.brasil') %></h3>
			<% end%>
		</li>
		<li class="countries-item">
			<%= link_to show_member_path(User.find_by_username('chile')) do %>
				<%= image_tag "countries/chile.png", class: "countries-list--image" %>
				<h3 class="countries-list--title"><%= t('catalog_countries.chile') %></h3>
			<% end%>
		</li>
		<li class="countries-item">
 			<%= link_to show_member_path(User.find_by_username('colombia')) do %>
				<%= image_tag "countries/colombia.png", class: "countries-list--image" %>
				<h3 class="countries-list--title"><%= t('catalog_countries.colombia') %></h3>
			<% end%>
		</li>
		<li class="countries-item">
 			<%= link_to show_member_path(User.find_by_username('costa_rica')) do %>
				<%= image_tag "countries/costa_rica.png", class: "countries-list--image" %>
				<h3 class="countries-list--title"><%= t('catalog_countries.costa_rica') %></h3>
			<% end %>
			 
		</li>
		<li class="countries-item">
 			<%= link_to show_member_path(User.find_by_username('ecuador')) do %>
				<%= image_tag "countries/ecuador.png", class: "countries-list--image" %>
				<h3 class="countries-list--title"><%= t('catalog_countries.ecuador') %></h3>
			<% end%>
		</li>
		<li class="countries-item">
 			<%= link_to show_member_path(User.find_by_username('el_salvador')) do %>
				<%= image_tag "countries/el_salvador.png", class: "countries-list--image" %>
				<h3 class="countries-list--title"><%= t('catalog_countries.el_salvador') %></h3>
			 <% end%>
		</li>
		<li class="countries-item">
 			<%= link_to show_member_path(User.find_by_username('guatemala')) do %>
				<%= image_tag "countries/guatemala.png", class: "countries-list--image" %>
				<h3 class="countries-list--title"><%= t('catalog_countries.guatemala') %></h3>
			<% end%>
		</li>
		<li class="countries-item">
 			<%= link_to show_member_path(User.find_by_username('honduras')) do %>
				<%= image_tag "countries/honduras.png", class: "countries-list--image" %>
				<h3 class="countries-list--title"><%= t('catalog_countries.honduras') %></h3>
			<% end%>
		</li>
		<li class="countries-item">
 			<%= link_to show_member_path(User.find_by_username('mexico')) do %>
				<%= image_tag "countries/mexico.png", class: "countries-list--image" %>
				<h3 class="countries-list--title"><%= t('catalog_countries.mexico') %></h3>
			<% end%>
		</li>
		<li class="countries-item">
 			<%= link_to show_member_path(User.find_by_username('nicaragua')) do %>
				<%= image_tag "countries/nicaragua.png", class: "countries-list--image" %>
				<h3 class="countries-list--title"><%= t('catalog_countries.nicaragua') %></h3>
			<% end%>
		</li>
		<li class="countries-item">
 			<%= link_to show_member_path(User.find_by_username('panama')) do %>
				<%= image_tag "countries/panama.png", class: "countries-list--image" %>
				<h3 class="countries-list--title"><%= t('catalog_countries.panama') %></h3>
			<% end%>
		</li>
		<li class="countries-item">
 			<%= link_to show_member_path(User.find_by_username('paraguay')) do %>
				<%= image_tag "countries/paraguay.png", class: "countries-list--image" %>
				<h3 class="countries-list--title"><%= t('catalog_countries.paraguay') %></h3>
			<% end%>
		</li>
		<li class="countries-item">
 			<%= link_to show_member_path(User.find_by_username('peru')) do %>
				<%= image_tag "countries/peru.png", class: "countries-list--image" %>
				<h3 class="countries-list--title"><%= t('catalog_countries.peru') %></h3>
			<% end%>
		</li>
		<li class="countries-item">
 			<%= link_to show_member_path(User.find_by_username('republica_dominicana')) do %>
				<%= image_tag "countries/republica_dominicana.png", class: "countries-list--image" %>
				<h3 class="countries-list--title"><%= t('catalog_countries.republica_dominicana') %></h3>
			<% end%>
		</li>
		<li class="countries-item">
 			<%= link_to show_member_path(User.find_by_username('uruguay')) do %>
				<%= image_tag "countries/uruguay.png", class: "countries-list--image" %>
				<h3 class="countries-list--title"><%= t('catalog_countries.uruguay') %></h3>
			<% end%>
		</li>
		<li class="countries-item">
 			<%= link_to show_member_path(User.find_by_username('venezuela')) do %>
				<%= image_tag "countries/venezuela.png", class: "countries-list--image" %>
				<h3 class="countries-list--title"><%= t('catalog_countries.venezuela') %></h3>
			<% end%>
		</li>
	</ul>
</section>

<section class="howto" id="howto">
	<h2 class="section-title"><%= t '.collaborate.title' %></h2>

	<ul class="howto-list">
		<li class="howto-item">
			<span class="howto-number">1</span>
			<p class="howto-text"><%= t '.collaborate.text1' %></p>
		</li>
		<li class="howto-item">
			<span class="howto-number">2</span>
			<p class="howto-text"><%= t '.collaborate.text2' %></p>
		</li>
		<li class="howto-item">
			<span class="howto-number">3</span>
			<p class="howto-text"><%= t '.collaborate.text3' %></p>
		</li>
	</ul>
</section>

<section class="data section-background">
	<h2 class="section-title"><%= t '.statistics' %></h2>

	<div class="data-content" id="data">
		<div class="data-graphs">
			<div id="container" style="width:100%; height:400px;" class="data-image"></div>
		</div>
		<div class="data-graphs">
			<div id="container2" style="width:100%; height:400px;" class="data-image"></div>
		</div>
	</div>
</section>

<footer class="main-footer section-background">
	<section id='partners'>
	<h2 class="section-title"><%= t '.partners.title' %></h2>
	<%= image_tag 'redgealc.png', class: 'main-footer--image' %>
	<%= image_tag 'bid.png' %>
	</section>
	<p class="main-footer--text"><%= t '.partners.info' %></h4>
	<p class="main-footer--copyright"><%= t '.partners.copyright' %></p>
</footer>

<div class="popin">
	<div class="popin-content">
    <p><%= t '.info.text1' %></p>
		<p><%= t '.info.text2' %></p>
		<p><%= t '.info.text3' %></p>
		<p><%= t '.info.text4' %></p>
	</div>
	<button class="popin-button"><%= image_tag "close.png", class: "popin-button--image" %></button>
</div>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script>
	$(document).scroll(function() {
		var y = $(this).scrollTop();
		if (y > 300) {
			$('.navbar').fadeOut();
			$('.main-nav').fadeIn();
		} else {
			$('.navbar').fadeIn();
			$('.main-nav').fadeOut();
		}
	});

	$('.main-header--button').on('click', function() {
		$('.popin').fadeIn()
	})

	$('.popin-button').on('click', function() {
		$('.popin').fadeOut()
	})

	$(function () { 
	    $('#container2').highcharts({
	        title: {
	            text: '<%= t '.charts.commits.title' %>',
	            x: -20 //center
	        },
	        xAxis: {	            
	            categories: <%= [Date::ABBR_MONTHNAMES[5.months.ago.month],
	            								 Date::ABBR_MONTHNAMES[4.months.ago.month],
	            								 Date::ABBR_MONTHNAMES[3.months.ago.month],
	            								 Date::ABBR_MONTHNAMES[2.months.ago.month],
	            								 Date::ABBR_MONTHNAMES[1.months.ago.month],
	            								 Date::ABBR_MONTHNAMES[0.months.ago.month]
	            								 ].to_json.html_safe %>
	        },
	        yAxis: {
	            title: {
	                text: '<%= t '.charts.commits.count' %>'
	            },
	            plotLines: [{
	                value: 0,
	                width: 1,
	                color: '#808080'
	            }]
	        },
	        legend: {
	            layout: 'vertical',
	            align: 'right',
	            verticalAlign: 'middle',
	            useHTML: false,
	            borderWidth: 0
	        },
	        series: [{	            
	            name: '<%= t '.charts.commits.series' %>',
	            data: <%= [Ci::Build.where(created_at: (Time.at(5.months.ago)..Time.at(4.months.ago)) ).count,
	            					 Ci::Build.where(created_at: (Time.at(4.months.ago)..Time.at(3.months.ago)) ).count,
	            					 Ci::Build.where(created_at: (Time.at(3.months.ago)..Time.at(2.months.ago)) ).count,
	            					 Ci::Build.where(created_at: (Time.at(2.months.ago)..Time.at(1.months.ago)) ).count,
	            					 Ci::Build.where(created_at: (Time.at(1.months.ago)..Time.at(0.months.ago)) ).count
	            					].to_json.html_safe %>
	        }]
	    });
	});

	$(function () { 
		$('#container').highcharts({
	        chart: {
	            type: 'bar'
	        },
	        title: {
	            text: '<%= t '.charts.projects.title' %>'
	        },
	        xAxis: {
	            categories: <%= @countries_projects_count.map(&:first).to_json.html_safe %>
	        },
	        yAxis: {
	            title: {
	                text: '<%= t '.charts.projects.count' %>'
	            }
	        },
	        series: [{
	            name: '<%= t '.charts.projects.series' %>',
	            data: <%= @countries_projects_count.map(&:last).to_json.html_safe %>
	        }]
	    });
	});
</script>
