<div class="user-profile catalog-header">
	<div class="cover-block catalog-project">					
		<h1 class="main-header--title">
			<%= image_tag('countries/' + @country.catalog_country.flag + '.png') %>
			<strong><%= @country.name %></strong>			
		</h1>
		<button class="main-header--button"><%= t '.about_button', country: @country.name %></button>
	</div>
</div>
<br>
<div class='text-center'>
	<%= link_to t('.view_catalog'), catalog_country_path(@country.catalog_country), class: 'btn btn-create ' %>
</div>

<%= render 'shared/projects/list', projects: @country.created_projects.where(visibility_level: 20), ci: true %>

<div class="popin">
	<div class="popin-content">
		<p><%= @country.catalog_country.about.present? ?  @country.catalog_country.about : t('.no_info') %></p>

		<p><%= t('.more_info') %> 
			<%= link_to(@country.catalog_country.url, @country.catalog_country.url) unless @country.catalog_country.url.blank?%>
		</p>
	</div>
	
	<button class="popin-button"><%= image_tag "close.png", class: "popin-button--image" %></button>
</div>
	
<script>
	$('.main-header--button').on('click', function() {
		$('.popin').fadeIn()
	})

	$('.popin-button').on('click', function() {
		$('.popin').fadeOut()
	})
</script>