%h2
  %i.fa.fa-warning
  No repository

%p.slead
  The repository for this project does not exist.
  %br
  This means you can not push code until you create an empty repository or import existing one.
%hr

.no-repo-actions
  = button_to 'Create empty bare repository', namespace_project_repository_path(@project.namespace, @project), { method: :post, form_class: 'pull-left', class: 'btn btn-primary', disabled: current_user.blank? || !current_user.can_create_project? }
    
  %strong.prepend-left-10.append-right-10.prepend-top-5.pull-left or

  = button_to 'Import repository', new_namespace_project_import_path(@project.namespace, @project), { form_class: 'pull-left', class: 'btn', disabled: current_user.blank? || !current_user.can_create_project? }
    
- if can? current_user, :remove_project, @project
  .prepend-top-20
    = link_to 'Remove project', project_path(@project), data: { confirm: remove_project_message(@project)}, method: :delete, class: "btn btn-remove pull-right"
