<%= form_for(@catalog_country) do |f| %>
  <% if @catalog_country.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.messages.contains_errors') %></h2>
      <ul>
      <% @catalog_country.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label Catalog::Country.human_attribute_name('name'), class: 'label-light' %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label Catalog::Country.human_attribute_name('slug'), class: 'label-light' %><br>
    <%= f.text_field :slug, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label Catalog::Country.human_attribute_name('flag'), class: 'label-light' %><br>
    <%= f.text_field :flag, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label Catalog::Country.human_attribute_name('about'), class: 'label-light' %><br>
    <%= f.text_area :about, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label Catalog::Country.human_attribute_name('url'), class: 'label-light' %><br>
    <%= f.text_field :url, class: 'form-control', placeholder: 'https://www.example.com' %>
  </div>

  <div class="prepend-top-default">
    <%= f.submit t('buttons.save'), class: 'btn btn-create' %>
  </div>
<% end %>
