<% page_title 'Catalog' %>
<% header_title  "Catalog", dashboard_projects_path %>

<div class="col-lg-6 col-lg-offset-3">

  <h2><%= t '.title' %></h2>
  
  <div class="pull-left">
    <%= form_tag catalog_projects_search_path, method: :get, class: 'form-inline' do %>
      <div class='form-group'>
        <%= search_field_tag "query", @query, class: 'form-control', placeholder:  t('catalog.search') %>
      
        <i class='fa fa-search search-catalog-icon'></i>
      </div>
    <% end %>
  </div>
  <%= link_to t('catalog.list_categories'), catalog_categories_path, class: "btn btn-create pull-right list-btn"%>
    
  <table class="catalog">
    <thead>
      <tr>
        <th><%= Catalog::Country.human_attribute_name('flag') %></th>
        <th><%= Catalog::Country.human_attribute_name('name') %></th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @catalog_countries.each do |catalog_country| %>
        <tr class="catalog-flag">
          <td><%= image_tag('countries/' + catalog_country.flag + '.png', class: "catalog-img") %></td>
          <td><%= link_to t(catalog_country.slug), catalog_country %></td>
          <td>
            <%= link_to edit_catalog_country_path(catalog_country), class: "btn btn-gray" do %>
              <i class="fa fa-pencil" title='<%= t('views.edit') %>'></i>
            <% end if can?(current_user, :manage_countries, Catalog::Country.new) %>

            <%= link_to catalog_country, method: :delete, data: { confirm: t('views.confirmation') }, class: "btn btn-gray" do %>
              <i class="fa fa-trash-o" title='<%= t('views.destroy') %>'></i>
            <% end if can?(current_user, :manage_countries, Catalog::Country.new) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to t('.new'), new_catalog_country_path, class: "btn btn-create pull-right" if can?(current_user, :manage_countries, Catalog::Country.new)%>
</div>