<div class="user-profile catalog-header">
	<div class="cover-block catalog-project">
		<div class="cover-controls">
			<%= link_to edit_catalog_country_path(@catalog_country), class: "btn btn-gray" do %>
				<i class="fa fa-pencil"></i>
			<% end if can?(current_user, :manage_countries, Catalog::Country.new)%>
		</div>

		<div class="avatar-holder">
			<%= image_tag('countries/' + @catalog_country.flag + '.png') %>
		</div>

		<div class="cover-title">
			<%= @catalog_country.name %>
		</div>

	</div>

	<div class="centered catalog-new-button">
		<%= link_to t('catalog.projects.index.new') , new_catalog_project_path(country_id: @catalog_country.id), class: "btn btn-create" if can?(current_user, :manage_projects, Catalog::Project.new(developing_countries: [ @catalog_country ]) )%>
	</div>

	<div class='row'>
		<div class="col-lg-10">
			<h3><%= t('.developing_projects') %></h3>
			<%= render partial: '/catalog/projects/list', locals: { catalog_projects: @catalog_country.developing_projects} %>
		</div>
		<div class="col-lg-6">
			<h4><%= t('.using_projects') %></h4>
			<%= render partial: '/catalog/projects/list', locals: { catalog_projects: @catalog_country.using_projects} %>
		</div>

		<div class="col-lg-6">
			<h4><%= t('.interested_projects') %></h4>
			<%= render partial: '/catalog/projects/list', locals: { catalog_projects: @catalog_country.interested_projects} %>	
		</div>
	</div>
</div>
