%header.navbar.navbar-fixed-top.navbar-gitlab{ class: nav_header_class }
  %div{ class: fluid_layout ? "container-fluid" : "container-fluid" }
    .header-content
      %button.side-nav-toggle{ type: 'button', "aria-label" => "Toggle global navigation" }
        %span.sr-only Toggle navigation
        = icon('bars')
      %button.navbar-toggle{type: 'button'}
        %span.sr-only Toggle navigation
        = icon('ellipsis-v')

      .navbar-collapse.collapse
        %ul.nav.navbar-nav
          %li.hidden-sm.hidden-xs
            = render 'layouts/search' unless current_controller?(:search)
          %li.visible-sm.visible-xs
            = link_to search_path, title: 'Search', aria: { label: "Search" }, data: {toggle: 'tooltip', placement: 'bottom', container: 'body'} do
              = icon('search')
          %li.dropdown
            = link_to '#', class: "btn btn-default button-language dropdown-toggle", data: { toggle: "dropdown" } do
              = icon('language')
              %span.caret
            .dropdown-menu-nav.dropdown-menu-align-right              
              %ul
                %li
                  = link_to 'English', change_locale_path(locale: 'en')
                %li
                  = link_to 'Português', change_locale_path(locale: 'pt_BR')
                %li
                  = link_to 'Español', change_locale_path(locale: 'es')
          - if current_user
            - if session[:impersonator_id]
              %li.impersonation
                = link_to admin_impersonation_path, method: :delete, title: "Stop Impersonation", aria: { label: 'Stop Impersonation' }, data: { toggle: 'tooltip', placement: 'bottom', container: 'body' } do
                  = icon('user-secret fw')
            - if current_user.is_admin?
              %li
                = link_to admin_root_path, title: 'Admin Area', aria: { label: "Admin Area" }, data: {toggle: 'tooltip', placement: 'bottom', container: 'body'} do
                  = icon('wrench fw')
            %li
              = link_to dashboard_todos_path, title: 'Todos', aria: { label: "Todos" }, data: {toggle: 'tooltip', placement: 'bottom', container: 'body'} do
                = icon('bell fw')
                %span.badge.todos-pending-count{ class: ("hidden" if todos_pending_count == 0) }
                  = todos_pending_count
            - if current_user.can_create_project?
              %li
                = link_to new_project_path, title: 'New project', aria: { label: "New project" }, data: {toggle: 'tooltip', placement: 'bottom', container: 'body'} do
                  = icon('plus fw')
            - if Gitlab::Sherlock.enabled?
              %li
                = link_to sherlock_transactions_path, title: 'Sherlock Transactions',
                  data: {toggle: 'tooltip', placement: 'bottom', container: 'body'} do
                  = icon('tachometer fw')
            %li.header-user.dropdown
              = link_to current_user, class: "header-user-dropdown-toggle", data: { toggle: "dropdown" } do
                = image_tag avatar_icon(current_user, 26), width: 26, height: 26, class: "header-user-avatar"
                %span.caret
              .dropdown-menu-nav.dropdown-menu-align-right
                %ul
                  %li
                    = link_to "Profile", current_user, class: 'profile-link', aria: { label: "Profile" }, data: { user: current_user.username }
                  %li
                    = link_to "Profile Settings", profile_path, aria: { label: "Profile Settings" }
                  %li.divider
                  %li
                    = link_to "Sign out", destroy_user_session_path, method: :delete, class: "sign-out-link", aria: { label: "Sign out" }
          - else
            %li
              %div
                = link_to "Sign in", new_session_path(:user, redirect_to_referer: 'yes'), class: 'btn btn-sign-in btn-success'
      
      = link_to t('buttons.explore_catalog'), catalog_root_path, class: "btn btn-sign-in btn-success" if current_page? root_path

      %h1.title= title

      .header-logo
        = link_to image_tag('logo.png'), root_path, class: 'home', title: 'Dashboard', id: 'logo'
          
      = yield :header_content

= render 'shared/outdated_browser'

- if @project && !@project.empty_repo?
  - if ref = @ref || @project.repository.root_ref
    :javascript
      var findFileURL = "#{namespace_project_find_file_path(@project.namespace, @project, ref)}";
