%p
	Hi #{@user['name']}!
%p	
	This email has the purpose of notifying you that #{@interested_user['name']} is interested on the project #{@project['name']}.
%p
	You can contact #{@interested_user['name']} by the email #{@interested_user.email}.