Hi <%= @user.name %>!

This email has the purpose of notifying you that <%= @interested_user.name %> is interested on the project <%= @project.name %>.

You can contact <%= @interested_user.name %> by the email <%= @interested_user.email %>.