%p
	Hi #{@user['name']}!
%p	
	This email has the purpose of notifying you that #{@country['name']} is interested on the project #{@catalog_project['name']}.
%p
	You can contact #{@country['name']} by the email #{@response_email}.