Hi <%= @user.name %>!

This email has the purpose of notifying you that <%= @country.name %> is interested on the project <%= @catalog_project.name %>.

You can contact <%= @country.name %> by the email <%= @response_email %>.