// Responsive
$content-width:    1000px
$on-mobile:          600px
$on-tablet:        720px

@mixin media-query($device)
	@media screen and (max-width: $device)
		@content


$text: #787878
$border: #E5E5E5
$background: #F5F5F5

$border-size: 4px
*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box

body
	font-family: 'Roboto', sans-serif
	margin: 0
	padding: 0

// ------------------------------------------------------------ standard
.section-button
	margin: 1.5em 35%
	width: 30%
	padding: 14px 1em
	cursor: pointer
	background: linear-gradient(#FFBA53, #FF9900)
	border: 1px solid #FFBA53
	border-radius: $border-size
	font-size: 1em
	color: white
	text-shadow: 0 0 2px #9B5D00
	
	&:hover
		background: #FF9900

.section-title
	text-align: center
	margin: 1.5em 0
	font-weight: 300
	font-size: 2em

.section-background
	background: $background

// ------------------------------------------------------------ main-nav
.main-nav
	position: fixed
	top: 0
	right: 0
	width: 100%
	background: #fafafa
	display: none
	height: 50px
	border-bottom: 1px solid #e5e5e5
	z-index: 1000
	
.main-nav-fixed
	position: static
	display: block

.main-nav--menu
	display: inline-block
	height: 44px
	margin: 3px 0
	vertical-align: top

.main-nav--title
	margin: 0
	font-size: 1.1em
	line-height: 50px
	color: black
	display: inline-block
	
.main-nav--title-link
	color: black
	text-decoration: none

.main-nav--list
	
.main-nav--item
	display: inline-block
	margin: 0 0 0 1em
	line-height: 50px

.main-nav--link
	color: black
	text-decoration: none
	font-size: 1.1em
	line-height: 1.2

.main-nav--login
	float: right
	background-color: #38ae67
	color: #fff
	border-radius: 3px
	font-size: 15px
	font-weight: 500
	padding: 8px 12px
	border: 1px solid #2faa60
	margin: 6px 12px
	cursor: pointer

// ------------------------------------------------------------ header
.main-header
	text-align: center
	padding: 6em 0
	background: linear-gradient(135deg, #43cea2, #185a9d)

.main-header--title
	color: white
	text-shadow: 1px 1px 2px black
	margin: 0 5%
	
	strong
		display: block

.main-header--text
	max-width: 70%
	margin: 3em auto 2em
	
.main-header--image
	width: 200px
	box-shadow: 0px 0px 5px 1px rgba(255,255,255, 0.5)

.main-header--button
	margin: 1.5em auto
	min-width: 20%
	padding: 14px 1em
	cursor: pointer
	background: rgba(255,255,255, 0.4)
	border: 1px solid rgba(255,255,255, 0)
	border-radius: $border-size
	font-size: 1em
	color: rgba(255,255,255, 0.9)
	transition: 300ms
	
	@include media-query($on-tablet)
		width: 70%
	
	&:hover
		background: rgba(255,255,255, 0.5)
		border: 1px solid rgba(255,255,255, 0.9)
		color: rgba(255,255,255, 1)
			
// ------------------------------------------------------------ countries
.countries
	border-top: 1px solid black
	padding: 2em 1em

.countries-list
	padding: 0

.countries-item
	list-style: none
	display: inline-block
	margin: 0 -4px 0 0
	width: 11.1%
	text-align: center
	padding: 1em 0.5em
	vertical-align: middle
	
	@include media-query($on-tablet)
		width: 25%

.countries-list--link
	color: $text
	cursor: pointer
	text-decoration: none
	font-size: 0.7em

.countries-list--image
	width: 100%

.countries-list--title
	margin: 0.3em 0 0
	color: $text
	cursor: pointer
	text-decoration: none
	font-size: 1em

// ------------------------------------------------------------ howto
.howto
	border-top: 1px solid black
	padding: 2em 0

.howto-list
	padding: 0

.howto-item
	list-style: none
	display: inline-block
	margin: 0 -4px 0 0
	width: 33.3%
	position: relative
	vertical-align: top
	padding: 0 5%
	
	@include media-query($on-tablet)
		margin: 0px -4px 30px 0
		width: 100%

.howto-number
	display: inline-block
	vertical-align: top
	position: absolute
	top: 0
	left: 30px
	width: 80px
	height: 80px
	line-height: 80px
	border-radius: 50%
	text-align: center
	border: 1px solid $border
	font-size: 2em
	font-weight: 700
	background: white

.howto-text
	color: $text
	display: inline-block
	width: 100%
	padding: 0 0 0 30%
	margin: 0

// ------------------------------------------------------------ data
.data
	border-top: 1px solid black
	padding: 2em 0

.data-content
.data-graphs
	width: 49%
	text-align: center
	display: inline-block
	padding: 0 5%
	margin: 0 -4px 0 0

.data-image
.data-content

// ------------------------------------------------------------ footer
.main-footer
	border-top: 1px solid black
	text-align: center
	position: relative

.main-footer--image
	width: 28%
	margin-right: 80px

.main-footer--text
	width: 70%
	margin: 1em 15% 0

.main-footer--copyright
	position: absolute
	bottom: 10px
	text-align: center
	width: 100%
	font-size: 0.8em

// ------------------------------------------------------------ projects-list
.projects
	padding: 0 5%
	
	@include media-query($on-tablet)
		padding: 0 2%

.projects-nav
	display: inline-block
	width: 20%
	vertical-align: top
	border: 1px solid $border
	padding: 0 0 30px

.projects-nav--form
	padding: 1em

.projects-nav--search
	border-radius: $border-size
	height: 40px
	vertical-align: middle
	width: 83%
	border: 1px solid $border
	box-shadow: 1px 1px 0 $border

.projects-nav--image
	width: 15%
	margin: 0 -4px 0 2%
	vertical-align: middle
	

.projects-category--title
	padding: 0 1em
	color: $text

.projects-category
	color: $text

.projects-category--item

.projects-category--link
	color: $text
	text-decoration: none

// ------------------------------------------------------------ projects-list
.projects-list
	display: inline-block
	width: 80%
	vertical-align: top
	padding: 0
	margin: 2% 10% 5%
	
	@include media-query($on-tablet)
		width: 100%
		margin: 0 0 5%

.projects-list--item
	list-style: none
	border-bottom: 1px solid $border

.projects-list--link
	text-decoration: none
	color: $text

.projects-list--image
	vertical-align: middle
	padding: 0.5em
	display: inline-block
	width: 10%
	margin: 0 -4px 0 0
	text-align: center
	
	@include media-query($on-tablet)
		width: 18%

.projects-list--title
	vertical-align: middle
	display: inline-block
	width: 75%
	margin: 0 -4px 0 0
	
	@include media-query($on-tablet)
		width: 65%

.projects-list--stars
	vertical-align: middle
	display: inline-block
	width: 12%
	margin: 0 -4px 0 0
	text-align: right
	
	span
		font-size: 28px
	
.projects-list--description
	font-weight: 400
	font-size: 0.8em
	display: block

// ------------------------------------------------------------ popin
.popin
	background: rgba(0,0,0,0.3)
	width: 100%
	height: 100%
	position: fixed
	top: 0
	left: 0
	z-index: 2000
	display: none

.popin-content
	width: 70%
	height: 60%
	background: white
	padding: 2em 2em
	position: absolute
	top: 20%
	left: 15%
	overflow: scroll
	
.popin-button
	position: absolute
	top: 18%
	right: 14%
	background: white
	border: none 
	padding: 0
	display: inline-block 
	width: 43px
	height: 43px 
	border-radius: 50%
	cursor: pointer
	
.popin-button--image
	width: 50px
	margin: -4px 0 0 -3px

.button-language
	margin-right: 15px !important
	width: 54px
	height: 28px

.icon-language
	font-size: 22px !important