<%= form_for(@catalog_category) do |f| %>
  <% if @catalog_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.messages.contains_errors') %></h2>
      <ul>
      <% @catalog_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label Catalog::Category.human_attribute_name('name'), class: 'label-light' %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="prepend-top-default">
    <%= f.submit t('buttons.save'), class: 'btn btn-create' %>
  </div>
<% end %>
