<div class="col-lg-6 col-lg-offset-3">

  <h2><%= t '.title' %></h2>

  <div class="pull-left">
  <%= form_tag catalog_projects_search_path, method: :get, class: 'form-inline' do %>
    <div class='form-group'>
      <%= search_field_tag "query", @query, class: 'form-control', placeholder: t('catalog.search') %>
    
      <i class='fa fa-search search-catalog-icon'></i>
    </div>
  <% end %>
  </div>

  <%= link_to t('catalog.list_countries'), catalog_countries_path, class: "btn btn-create pull-right list-btn"%>

  <table class='catalog'>
    <thead>
      <tr>
        <th><%= Catalog::Category.human_attribute_name('name') %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @catalog_categories.each do |catalog_category| %>
        <tr>
          <td><%= link_to catalog_category.name, catalog_category_path(catalog_category) %></td>
          <td>
            <%= link_to edit_catalog_category_path(catalog_category), class: "btn btn-gray" do %>
              <i class="fa fa-pencil" title='<%= t('views.edit') %>'></i>
            <% end if can?(current_user, :manage_countries, Catalog::Country.new)%>

            <%= link_to catalog_category, method: :delete, data: { confirm: t('views.confirmation') }, class: "btn btn-gray" do %>
              <i class="fa fa-trash-o" title='<%= t('views.destroy') %>'></i>
            <% end if can?(current_user, :manage_countries, Catalog::Country.new)%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to t('.new'), new_catalog_category_path, class: "btn btn-create pull-right" %>
</div>
