<div class="user-profile">
	<div class="cover-block">
		<div class="cover-controls">
			<%= link_to edit_catalog_category_path(@catalog_category), class: "btn btn-gray" do %>
				<i class="fa fa-pencil"></i>
			<% end %>
		</div>
		
		<div class="cover-title">
			<%= @catalog_category.name %>
		</div>

		<%= link_to t('views.edit'), edit_catalog_category_path(@catalog_category) %> |
		<%= link_to t('views.back'), catalog_categories_path %>
	</div>
</div>