<h1><%= t '.title' %></h1>

<table>
  <thead>
    <tr>
      <th><%= Catalog::ProgrammingLanguage.human_attribute_name('name') %></th>
      <th><%= Catalog::ProgrammingLanguage.human_attribute_name('url') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @catalog_programming_languages.each do |catalog_programming_language| %>
      <tr>
        <td><%= catalog_programming_language.name %></td>
        <td><%= link_to catalog_programming_language.url, catalog_programming_language.url, target: "_blank" %></td>
        <td><%= link_to t('views.show'), catalog_programming_language %></td>
        <td><%= link_to t('views.edit'), edit_catalog_programming_language_path(catalog_programming_language) %></td>
        <td><%= link_to t('views.destroy'), catalog_programming_language, method: :delete, data: { confirm: t('views.confirmation') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new'), new_catalog_programming_language_path %>
