<div class="user-profile">
	<div class="cover-block">
		<div class="cover-controls">
			<%= link_to edit_catalog_programming_language_path(@catalog_programming_language), class: "btn btn-gray" do %>
				<i class="fa fa-pencil"></i>
			<% end %>
		</div>

		<div class="cover-title">
			<%= @catalog_programming_language.name %>
		</div>

		<p>
			<strong><%= Catalog::ProgrammingLanguage.human_attribute_name('url') %>:</strong>
			<%= link_to @catalog_programming_language.url, @catalog_programming_language.url, target: "_blank" %>
		</p>
	</div>
</div>