!!! 5
%html{ lang: "en"}
  = render "layouts/head"
  %body.ui_charcoal.login-page.application.navless
    = Gon::Base.render_data
    = render "layouts/header/empty"
    = render "layouts/broadcast"
    .container.navless-container
      .content
        = render "layouts/flash"
        .row
          .col-sm-5.pull-right
            = yield
          .col-sm-7.brand-holder.pull-left
            %h1 
              Plataforma de colaboración de Software Público Regional
            - if brand_item
              = brand_image
              = brand_text
            - else
              %p
                Bienvenidos al Portal del Software Público Regional, el lugar donde los países de América Latina y el Caribe comparten y desarrollan soluciones libres de manera colaborativa.

            - if extra_sign_in_text.present?
              = markdown(extra_sign_in_text)